[package]
name = "simple-someip"
version = "0.1.0"
edition = "2024"
publish = false


# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
byteorder = "1.5.0"
thiserror = "1.0.59"

[features]
default = ["client", "server"]
client = []
server = []
